<!DOCTYPE html>
<html>
<head>
	<title>Schedule maker</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/mystyles.css"/>
</head>
<body class="bg-light">
	<div class="container bg-light text-info">
	<div class="container"> 
		<h2>Available</h2>
		<table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
		  <thead class="text-info">
		    <tr>
		      <th class="th-sm">Name
		      </th>
		      <th class="th-sm">ID
		      </th>
		      <th class="th-sm">CRN
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tiger Nixon</td>
		      <td>System Architect</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Garrett Winters</td>
		      <td>Accountant</td>
		      <td>Tokyo</td>
		    </tr>
		    <tr>
		      <td>Ashton Cox</td>
		      <td>Junior Technical Author</td>
		      <td>San Francisco</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="container"> 
		<h2>Not Available</h2>
			<table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
		  <thead class="text-info">
		    <tr>
		      <th class="th-sm">Name
		      </th>
		      <th class="th-sm">ID
		      </th>
		      <th class="th-sm">CRN
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tiger Nixon</td>
		      <td>System Architect</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Garrett Winters</td>
		      <td>Accountant</td>
		      <td>Tokyo</td>
		    </tr>
		    <tr>
		      <td>Ashton Cox</td>
		      <td>Junior Technical Author</td>
		      <td>San Francisco</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="container"> 
		<h2>Taken</h2>
			<table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
		  <thead class="text-info">
		    <tr>
		      <th class="th-sm">Name
		      </th>
		      <th class="th-sm">ID
		      </th>
		      <th class="th-sm">CRN
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tiger Nixon</td>
		      <td>System Architect</td>
		      <td>Edinburgh</td>
		    </tr>
		    <tr>
		      <td>Garrett Winters</td>
		      <td>Accountant</td>
		      <td>Tokyo</td>
		    </tr>
		    <tr>
		      <td>Ashton Cox</td>
		      <td>Junior Technical Author</td>
		      <td>San Francisco</td>
		    </tr>
		    <tr>
		      <td>Cedric Kelly</td>
		      <td>Senior Javascript Developer</td>
		      <td>Edinburgh</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="container text-center"> 
		<button class="btn btn-primary">SUBMIT</button>
	</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function () {
	$('#dtVerticalScrollExample').DataTable({
	"scrollY": "200px",
	"scrollCollapse": true,
	});
	$('.dataTables_length').addClass('bs-select');
});
</script>
<script type="text/javascript" src="/src/object.json"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>