<!DOCTYPE html>
<html>

<head>
	<title>Schedule maker</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./../static/css/mystyle.css" />
</head>

<body class="bg-light">
	<div class="container bg-light text-info">
		<h2>Available</h2>
		<div class="container">
			<table id="available" class="available table table-striped table-bordered table-sm" cellspacing="0" width="100%">
				<thead class="text-info">
					<tr>
						<th class="th-sm">Name
						</th>
						<th class="th-sm">ID
						</th>
						<th class="th-sm">CRN
						</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<h2>Not Available</h2>
		<div class="container">
			<table id="not-available" class="not-available table table-striped table-bordered table-sm" cellspacing="0"
				width="100%">
				<thead class="text-info">
					<tr>
						<th class="th-sm">Name
						</th>
						<th class="th-sm">ID
						</th>
						<th class="th-sm">CRN
						</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<h2>Taken</h2>
		<div class="container">
			<table id="taken" class="not-available table table-striped table-bordered table-sm" cellspacing="0" width="100%">
				<thead class="text-info">
					<tr>
						<th class="th-sm">Name
						</th>
						<th class="th-sm">ID
						</th>
						<th class="th-sm">CRN
						</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>

	<!-- <script src="script.js" type="text/javascript"></script> -->
	<script>
		$(document).ready(function () {
			$.getJSON("/static/obj.json", function (data) {
				var obj_data = '';
				console.log(data)
				$.each(data, function (key, value) {
					$.each(data[key], function (k, v) {
						obj_data += '<tr>';
						obj_data += '<td>' + v.Name + '</td>';
						obj_data += '<td>' + v.ID + '</td>';
						obj_data += '<td>' + v.CRN + '</td>';
						obj_data += '</tr>';
					});
					$('#' + key + ' tbody').append(obj_data);
					obj_data = ''
				});
			}); /* end .getJSON */



		});
	</script>
</body>

</html>